
/****************************************************************
********************** Base Styles ******************************
****************************************************************/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

body, html {
  height: 100%;
}

/****************************************************************
************************ Resets *********************************
****************************************************************/

.u-ul--reset {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/****************************************************************
************************ Display ********************************
****************************************************************/

.u-display--flex {
  display: flex;
}

.u-flex-direction--column {
  flex-direction: column;
}

.u-flex-grow--1 {
  flex-grow: 1;
}

.u-justify-content--center {
  justify-content: center;
}

.u-justify-content--space-between {
  justify-content: space-between;
}

.u-align-items--center {
  align-items: center;
}

/****************************************************************
*********************** Sizings *********************************
****************************************************************/

.u-min-width--400px {
  min-width: 400px;
}

.u-width--50\% {
  width: 50%;
}

.u-width--100\% {
  width: 100%;
}

.u-height--100\% {
  height: 100%;
}

/****************************************************************
*********************** Spacings ********************************
****************************************************************/

.u-m--none {
  margin: 0;
}

.u-mb--xs {
  margin-bottom: 0.25rem;
}

.u-ml--sm {
  margin-left: 0.5rem;
}

.u-mlr--sm {
  margin: 0 0.5rem;
}

.u-mtb--xs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.u-mtb {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.u-ml--auto {
  margin-left: auto;
}

.u-ml--xs {
  margin-left: 0.5rem;
}

.u-mr--xs {
  margin-right: 0.5rem;
}

.u-mr--lg {
  margin-right: 4rem;
}

.u-p {
  padding: 0em;
}

.u-p--xs {
  padding: 0.5rem;
}

.u-ptb--xs {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.u-ptb--sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.u-plr {
  padding-left: 1rem;
  padding-right: 1rem;
}

.u-plr--md {
  padding-left: 2em;
  padding-right: 2em;
}

.u-plr--lg {
  padding-left: 3em;
  padding-right: 3em;
}

/****************************************************************
************************ Colors *********************************
****************************************************************/

.u-color--primary {
  color: #5931a0;
}

.u-color--white {
  color: white;
}

.u-bg--primary-x-light {
  background-color: #f4edff;
}

.u-bg--secondary-x-light {
  background-color: rgba(74, 223, 186, 0.25);
}

.u-bg--gray-odd:nth-of-type(2n + 1) {
  background-color: #eee;
}

/****************************************************************
****************** Transitions / Effects ************************
****************************************************************/

.u-hover--fade-secondary:hover {
  color: #4adfba;
}

/****************************************************************
********************** Custom Styles ****************************
****************************************************************/

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.site-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #1f2866;
  background-image: radial-gradient(circle at 100% 100%,rgba(122,45,238,.25) 0,rgba(122,45,238,0) 100%),radial-gradient(circle at 0 50%,rgba(102,51,255,.75) 0,rgba(102,51,255,0) 50%);
  /* ^ Gradient is borrowed from PostLight website */
}

.site-header__item {
  width: calc(100% / 3);
}

.site-header__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.site-header__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5 - 1rem);
  margin: 0.5rem;
  background-color: #f4edff;
  border: 1px solid #4adfba;
}

.card__image {
  display: block;
  width: 100%;
  filter: grayscale(100%);
}

.card__caption {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #6245fb;
  padding: 0.25rem;
}

.icon {
  font-size: 1.125rem;
  color: #5931a0;
  cursor: pointer;
  transition: 0.3s color ease-in-out;
}

.logo {
  width: 124px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loader__image {
  width: 125px;
}

.tooltip {
  position: relative;
}

.tooltip__content {
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  
  border-radius: 6px;
  background-color: #1f2866;
  background-image: radial-gradient(circle at 100% 100%,rgba(122,45,238,.25) 0,rgba(122,45,238,0) 100%),radial-gradient(circle at 0 50%,rgba(102,51,255,.75) 0,rgba(102,51,255,0) 50%);
  color: #fff;
  font-size: 0.875rem;
  
  opacity: 0;
  padding: 5px;
  width: 120px;
  text-align: center;
  
  visibility: hidden;
  z-index: 1;
  transition: opacity 0.3s;
}

.tooltip__content::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #1f2866 transparent transparent transparent;
  margin-left: -5px;
}

.tooltip:hover .tooltip__content {
  opacity: 1;
  visibility: visible;
}

.search__input {
  border: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 5px;
  outline: none;
  transition: 0.3s all ease-in-out;
}

.search__input::placeholder {
  font-style: italic;
}

.search__input:focus {
  color: #5931a0;
  border-bottom: 1px solid #5931a0;
}

.input__checkbox {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid gray;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.form {
  width: 100%;
  max-width: 500px;
  margin: 0.5rem 0;
}

.form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 5px;
  margin-left: 1rem;
  outline: none;
  transition: 0.3s all ease-in-out;
}

.form__input--select {
  border: 1px solid gray;
}

.form__input::placeholder {
  font-style: italic;
}

.form__input:focus {
  color: #5931a0;
  border-bottom: 1px solid #5931a0;
}

.btn {
  background-color: white;
  border: none;
  border: 1px solid #4adfba;
  border-radius: 4px;
  color: #555;
  font-weight: 500;
  font-size: 12px;

  letter-spacing: 1px;
  text-transform: uppercase;

  min-width: 80px;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  transition: 0.3s background-color ease-in-out;
}

.btn:hover {
  background-color: #4adfba;
}

/****************************************************************
************************* Other *********************************
****************************************************************/

.u-fs--italic {
  font-style: italic;
}

.u-text-align--center {
  text-align: center;
}

.u-tt--uppercase {
  text-transform: uppercase;
}

.u-white-space--nowrap {
  white-space: nowrap;
}

.u-word-break--bw {
  word-break: break-word;
}

.u-cursor--pointer {
  cursor: pointer;
}

/****************************************************************
************************* Shame *********************************
****************************************************************/

h2, h3 {
  font-size: 1rem;
  font-weight: 400;
}

.hidden {
  display: none !important;
}

.u-ls--1\.75px {
  letter-spacing: 1.75px;
}

/****************************************************************
******************** Media Queries ******************************
****************************************************************/

@media (max-width: 980px) {
  .card {
    width: calc(100% / 3 - 1rem);
  }
}

@media (max-width: 700px) {
  .card {
    width: calc(100% / 2 - 1rem);
  }

  .site-header {
    flex-direction: column;
  }

  .site-header__item:first-of-type,
  .site-header__item:last-of-type {
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .site-header__item:last-of-type a {
    margin: auto;
  }

  .site-header__item {
    width: calc(100% - 1rem);
  }

}

@media (max-width: 530px) {
  .card {
    width: calc(100% - 1rem);
  }
}
